.weatherForecast {
  display: block;
  text-align: center;
  line-height: 70%;
  position: relative;
  top: -50px;
}

.forecastDay {
  font-weight: 600;
  font-size: 18px;
}

.forecastIcon {
  width: 90px;
  padding: -10px 0 0 0;
}
