.CityFrame {
  margin: 0 25px;
}

.cityName {
  margin: 15px 0 10px;
  font-size: 24px;
}

.currentIcon {
  width: 100px;
  margin: -5px auto;
}

#currentDescription,
.currentMinMax {
  font-size: 16px;
  margin-top: 0;
}

.currentWeather {
  margin: 0 0 25px;
}

#degreeTemp {
  font-weight: normal;
  font-size: 28px;
  line-height: 2;
  margin-bottom: 3px;
  text-align: center;
  display: block;
}

.currentTimeDate {
  display: block;
  text-align: left;
  line-height: 80%;
  margin-left: 15px;
  font-size: 14;
  margin: 0 25px;
}

.currentTime,
.currentDate {
  text-indent: 15px;
}

.todayData {
  text-align: center;
  position: relative;
  list-style: none;
  display: inline;
}
.half-circle {
  width: 200px;
  height: 100px; /* as the half of the width */
  background-color: none;
  border-top-left-radius: 110px; /* 100px of height + 10px of border */
  border-top-right-radius: 110px; /* 100px of height + 10px of border */
  border: 1px solid gray;
  border-bottom: 0;
}

.currentTemp {
  font-size: 26px;
  text-decoration: none;
}

ul {
  list-style: none;
}

.additionalData_text,
.additionalData_values {
  width: 50%;
  margin-top: 25px;
}

.additionalData_text {
  display: block;
  text-align: right;
}

.additionalData_values ul {
  text-align: left;
  padding: 0;
}
